<h1>{{title}}</h1>

<p>
    On this path you can find some information about my college, someone call...
</p>

<h2>Instituto Tecnológico de Gustavo A. Madero</h2>

<ul>
    <li><a href="about/tec">Acerca de... ITGAM</a></li>
    <li><a href="about/api/tec"> API </a></li>
</ul>