<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='{{style}}' />
    <link rel="shortcut icon" href="{{setIcon}}" type="image/x-icon">
  </head>
  <body>
    {{{body}}}
  </body>
</html>