<body>
    <header>
        <h1>Instituto Tecnológico de Gustavo A. Madero</h1>
        <p>Preparando el futuro de México</p>
    </header>
    <main>
        <h2>Acerca de ITGAM</h2>
        <p>La Universidad Ejemplo es una institución académica de renombre que se dedica a la enseñanza y la investigación.</p>
        <h2>Programas Académicos</h2>
        <ul>
            <li>Tecnologías de la Información y Comunicaciones</li>
            <li>Gestión Empresarial</li>
            <li>Ambiental</li>
            <li>Ferroviaría</li>
            <li>Logística</li>
        </ul>
        <h2>Imagen de la Universidad</h2>
        <div id="imagen"></div>
    </main>
</body>
</html>

<script src="{{javascript}}"></script>